
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');



*{


    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Urbanist', sans-serif;
}

.hero{
 color: white;
 background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
display: grid;
grid-template-rows: max-content 1fr;
grid-template-areas: "nav" "content";
min-height: 100vh;

}
.nav{

    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}
.container{

    width: 100%;
max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.nav_link{

    color: white;
}
.nav_list{

    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav_log{

    font-size: 1.8rem;
    font-weight: 300;
}
.nav_menu{

    display: none;
}


nav.icon{

    width: 30px;
}


.hero_main{

grid-area: content;
display: grid;
gap: 2em;
grid-template-columns: 1fr 1fr;

padding-bottom: 180px;
align-items: center;

}
.hero_img{
    width: 100%;
}
.hero_waves{

    grid-area: content;
    align-self: flex-end;
}

.hero_title{

    font-size: 2.6rem;
    letter-spacing: 2px;
}

.hero_subtitle{

    margin-top: 1rem;
    margin-bottom: 1.5rem;
font-size: 1.5rem;
font-weight: 300;
}

.hero_cta{

    text-decoration: none;
    color: white;
    padding: 15px 60px;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid;

    font-weight: 500;
transition: background-color .3s;
}

.hero_cta:hover{

    background-color: white;
    color: #0ba360;
}



@media(max-width:800px){
.hero_main{
grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
text-align: center;
}

.nav_list{
    display: none;
}
.nav_menu{
    display: bl;
}
.hero_picture

{
    grid-row: 1/2;
}

.hero_img{

    max-width: 500px;
    display: block;
    margin: 0 auto;

}

 }